<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mycalendarMapper">
	
	<resultMap id="resultCalendar" type="Calendar">
		<id property="calendar_no" column="CALENDAR_NO" />
		<id property="calendar_title" column="CALENDAR_TITLE" />
		<id property="touristopt_no" column="TOURISTSPOT_NO" />
		<id property="mycalendar_no" column="MYCALENDAR_NO" />
	</resultMap>

 	<resultMap id="resultMyCalendar" type="MyCalendar">
		<id property="mycalendar_no" column="MYCALENDAR_NO" />
		<id property="mycalendar_title" column="MYCALENDAR_TITLE" />
		<id property="mycalendar_content" column="MYCALENDAR_CONTENT" />
		<id property="mycalendar_writer" column="MYCALENDAR_WRITER" />
		<id property="mycalendar_start_date" column="MYCALENDAR_START_DATE"></id>
		<id property="mycalendar_end_date" column="MYCALENDAR_END_DATE"></id>
		<id property="category" column="CATEGORY" />
		<id property="notepad" column="NOTEPAD" />
		<id property="budget" column="BUDGET" />
	</resultMap>
	
	<resultMap id="resultTouristspotVo" type="TouristspotVo">
		<id property="touristspot_no" column="TOURISTSPOT_NO" />
		<id property="touristspotcategorycode" column="TOURISTSPOTCATEGORYCODE" />
		<id property="touristspot_name" column="TOURISTSPOT_NAME" />
		<id property="touristspot_content" column="TOURISTSPOT_CONTENT" />
		<id property="touristspot_writer" column="TOURISTSPOT_WRITER" />
		<id property="rename_thumnail" column="RENAME_THUMNAIL" />
		<id property="touristspot_open" column="TOURISTSPOT_OPEN" />
		<id property="touristspot_closed" column="TOURISTSPOT_CLOSED" />
		<id property="touristspot_address" column="TOURISTSPOT_ADDRESS" />
		<id property="touristspot_homepage" column="TOURISTSPOT_HOMEPAGE" />
		<id property="touristspot_tel" column="TOURISTSPOT_TEL" />
		<id property="touristspot_latitude" column="TOURISTSPOT_LATITUDE" />
		<id property="touristspot_longitude" column="TOURISTSPOT_LONGITUDE" />
		<id property="touristspot_date" column="TOURISTSPOT_DATE" />
		<id property="touristspot_lastmodified" column="TOURISTSPOT_LASTMODIFIED" />
		<id property="touristspot_deletestatus" column="TOURISTSPOT_DELETESTATUS" />
	</resultMap>
	<resultMap id="resultTouristspotCategoryVo" type="TouristspotCategoryVo">
		<id property="touristspotCategoryCode" column="TOURISTSPOTCATEGORYCODE" />
		<id property="touristspotCategoryName" column="TOURISTSPOTCATEGORYNAME" />
	</resultMap>
	<resultMap id="resultTouristspotImagesVo" type="TouristspotImagesVo">
		<id property="touristspot_no" column="TOURISTSPOT_NO" />
		<id property="touristspot_sq" column="TOURISTSPOT_SQ" />
		<id property="touristspot_imagename" column="TOURISTSPOT_IMAGENAME" />
	</resultMap>
	<resultMap id="resultTouristspotReviewsVo" type="TouristspotReviewsVo">
		<id property="touristspot_no" column="TOURISTSPOT_NO" />
		<id property="review_no" column="REVIEW_NO" />
		<id property="review_writer" column="REVIEW_WRITER" />
		<id property="review_content" column="REVIEW_CONTENT" />
		<id property="review_point" column="REVIEW_POINT" />
		<id property="review_blind" column="REVIEW_BLIND" />
		<id property="review_deletestatus" column="REVIEW_DELETESTATUS" />
		<id property="review_date" column="REVIEW_DATE" />
		<id property="review_lastmodified" column="REVIEW_LASTMODIFIED" />
		<id property="review_tourdate" column="REVIEW_TOURDATE" />
	</resultMap>
	
	<resultMap id = "resultOwner" type="ownerVo">
		<result property="owner_no" column="OWNER_NO"/>
		<result property="owner_license_no" column="OWNER_LICENSE_NO"/>
		<result property="owner_password" column="OWNER_PASSWORD"/>
		<result property="owner_name" column="OWNER_NAME"/>
		<result property="owner_companyName" column="OWNER_COMPANYNAME"/>
		<result property="owner_telephone" column="OWNER_TELEPHONE"/>
		<result property="owner_phone" column="OWNER_PHONE"/>
		<result property="owner_account" column="OWNER_ACCOUNT"/>
		<result property="owner_address" column="OWNER_ADDRESS"/>
		<result property="owner_category" column="OWNER_CATEGORY"/>
		<result property="owner_approve" column="OWNER_APPROVE"/>
		<result property="owner_latitude" column="OWNER_LATITUDE"/>
		<result property="owner_longitude" column="OWNER_LONGITUDE"/>
		<result property="off_season_price" column="OFF-SEASON-PRICE"/>
		<result property="property_review_like" column="PROPERTY_REVIEW_LIKE"/>
	</resultMap>
	
	<resultMap id="resultOwnerList" type="ownerListVo" >
		<result property="owner_no" column="owner_no"/>
		<result property="owner_companyName" column="owner_companyname"/>
		<result property="owner_address" column="owner_address"/>
		<result property="owner_category" column="owner_category"/>
		<result property="off_season_price" column="off_season_price"/>
		<result property="property_review_like" column="property_review_like"/>
	</resultMap>

	<resultMap id ="resultOwnerImg" type="ownerImgVo">
		<result property="owner_img_no" column="owner_img_no"/>
		<result property="owner_img" column="owner_img"/>
		<result property="owner_no" column="owner_no"/>
	</resultMap>
	
	<resultMap id="resultOwnerReview" type="ownerReviewVo">
		<result property="user_name" column="user_name"/>
		<result property="property_review_content" column="property_review_content"/>
		<result property="property_review_like" column="property_review_like"/>
		<result property="user_picture" column="user_picturn"/>
		<result property="owner_no" column="owner_no"/>
	</resultMap>
	
	<resultMap id= "resultRoom" type = "roomVo">
	<id property = "room_no" column = "ROOM_NO"/>
	<result property = "owner_no" column = "OWNER_NO"/>
	<result property = "room_name" column = "ROOM_NAME"/>
	<result property = "room_option" column = "ROOM_OPTION"/>
	<result property = "room_content" column = "ROOM_CONTENT"/>
	<result property = "min_no" column = "min_No"/>
	<result property = "max_no" column = "max_No"/>
	<result property = "off_season_price" column = "OFF_SEASON_PRICE"/>
	<result property = "on_season_price" column = "ON_SEASON_PRICE"/>
	<result property = "week_extra_price" column = "WEEK_EXTRA_PRICE"/>
	<result property = "add_person_price" column = "ADD_PERSON_PRICE"/>
	<result property = "discountrate" column = "DISCOUNTRATE"/>
</resultMap>

<resultMap id="resultRoomImg" type="roomImgVo">
	<id property = "room_img_no" column="room_img_no"/>
	<result property = "room_img" column= "room_img"/>
	<result property = "room_no" column="room_no"/>
	<result property = "owner_no" column ="owner_no"/>
</resultMap>

<resultMap id="resultReservation" type="rsvVo">
	<id property ="rsv_vo" column="rsv_vo"/>
	<result property = "user_no" column="user_no" />
	<result property = "user_name" column = "user_name"/>
	<result property = "room_no" column="room_no" />
	<result property = "room_name" column="room_name"/>
	<result property = "check_in" column="check_in" />
	<result property = "check_out" column="check_out" />
	<result property = "rsv_status" column="rsv_status" />
	<result property = "enter_room" column="enter_room" />
	<result property = "rsv_date" column="rsv_date" />
	<result property = "member" column="member" />
	<result property = "total_price" column="total_price" />
</resultMap>
	<insert id="insertTitlecalendar" parameterType="Calendar">
		insert into tb_mycalendar (mycalendar_no, mycalendar_title) values (sq_mycalendar_no.nextval, #{mycalendar_title})
	</insert>
	
	<select id="selectOneDay" resultType="Calendar" resultMap="resultCalendar">
		select * from tb_calendar where calendar_no = #{calendar_no}
	</select>

	<delete id="deleteDay" parameterType="_int">
		delete from tb_calendar where calendar_no = #{calendar_no}
	</delete>

	<select id="selectCalendarList" resultMap="resultCalendar">
		select * from tb_calendar
	</select>

	<insert id="insertCalendar" parameterType="Calendar">
		insert into tb_calendar(calendar_no , calendar_title) values(sq_calendar_no.nextval, #{calendar_title})
	</insert>

	<select id="selectOwner" resultMap="resultOwner">
		select * from owner
	</select>
	
	<select id="selectOwnerImg" resultMap="resultOwnerImg">
		select * from owner_img
	</select>
	
	<select id="selectSearchlodgment" resultMap="resultOwner">
		select * from owner 
		where OWNER_ADDRESS LIKE '%'|| #{OWNER_ADDRESS} ||'%'
	</select>

	<select id="selectAllMyCalendar" resultMap="resultMyCalendar">
		select * from tb_mycalendar
	</select>
	
	<select id="selectOneMyCalendar" resultType="MyCalendar" resultMap="resultMyCalendar">
		select * from tb_mycalendar where mycalendar_no = #{mycalendar_no}
	</select>
	
	<insert id="insertTitleDate" parameterType="MyCalendar">
		insert into tb_mycalendar(mycalendar_no, mycalendar_title, mycalendar_start_date, mycalendar_end_date, mycalendar_content, category) 
		values(sq_mycalendar_no.nextval, #{mycalendar_title}, #{mycalendar_start_date}, #{mycalendar_end_date}, #{mycalendar_content}, #{category})
	</insert>  
	
	<update id="updateCalendar" parameterType="MyCalendar">
	
		update tb_mycalendar set mycalendar_title = #{mycalendar_title}, mycalendar_content = #{mycalendar_content}, 
		mycalendar_start_date = #{mycalendar_start_date},
		mycalendar_end_date = #{mycalendar_end_date},
		category = #{category} where mycalendar_no = #{mycalendar_no}
	</update>
	
	<delete id="deleteMyCalendar" parameterType="_int">
		delete from tb_mycalendar where mycalendar_no = #{mycalendar_no}
	</delete>
	
	<select id="selectTouristspotList" resultType="TouristspotVo">
		select TOURISTSPOT_NO, TOURISTSPOTCATEGORYCODE, TOURISTSPOT_NAME, 
		TOURISTSPOT_CONTENT, TOURISTSPOT_WRITER, RENAME_THUMNAIL, TOURISTSPOT_OPEN, 
		TOURISTSPOT_CLOSED, TOURISTSPOT_HOMEPAGE, TOURISTSPOT_ADDRESS, TOURISTSPOT_TEL, 
		TOURISTSPOT_LATITUDE, TOURISTSPOT_LONGITUDE, 
		TOURISTSPOT_DELETESTATUS from tb_touristspot
	</select>
<!-- 	<update id="updateFaq" parameterType="Faq">
		
	</update>
	<update id="hideFaq" parameterType="Faq">
		
	</update> -->
</mapper>




