<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companionMapper">

	<resultMap id="resultCompanion" type="Companion">
		<id property="companion_no" column="companion_no" />
		<result property="companion_title" column="companion_title" />
		<result property="user_email" column="user_email" />
		<result property="companion_content" column="companion_content" />
		<result property="companion_date" column="companion_date" />
		<result property="companion_schedule" column="companion_schedule" />
		<result property="companion_progress" column="companion_progress" />
	</resultMap>
	
	<resultMap type="CompanionReply" id="resultCompanionReply">
		<id property="companion_reply_no" column="companion_reply_no" />
		<result property="companion_no" column="companion_no" />
		<result property="companion_reply_ref" column="companion_reply_ref" />
		<result property="companion_reply_lev" column="companion_reply_lev"/>
		<result property="companion_reply_seq" column="companion_reply_seq"/>
		<result property="user_email" column="user_email" />
		<result property="companion_reply_content" column="companion_reply_content" />
		<result property="companion_reply_date" column="companion_reply_date" />
	</resultMap>
	

	<select id="selectOne" parameterType="_int"
	 resultMap="resultCompanion" >
		select * from companion 
		where companion_no = #{companion_no}
		
	</select>
	
	<select id="selectCompanionReplyList" parameterType="CompanionReply" resultMap="resultCompanionReply" >
		select * from companion_reply where companion_no = #{companion_no}
		order by companion_reply_no asc, companion_reply_ref asc, companion_reply_lev asc, companion_reply_seq asc
	</select>
	
	<select id="selectCompanionList" parameterType="Companion"
	resultMap="resultCompanion">
	<![CDATA[
		select * from (select rownum rnum, companion_no,
							companion_title, user_email, companion_content,
							companion_date, companion_schedule, companion_progress
							from (select * from companion 
								order by companion_no desc))
								where rnum >= #{offset } and rnum <=
								#{limit }
							]]>
	</select>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from companion
	</select>
	
	<insert id="insertCompanion" parameterType="Companion" useGeneratedKeys="true" >
	
		insert into companion
		values (seq_cp_no.nextval,  
		#{companion_title}, #{user_email},
		#{companion_content}, SYSDATE, null, 1)
	</insert>
	
	<update id="updateCompanion" parameterType="CompanionReply">
		update companion
		set companion_title = #{companion_title}
			companion_content = #{companion_content}
		where companion_no = #{companion_no}
	</update>
	
	<delete id="deleteCompanion" parameterType="int">
		delete from companion
		where companion_no = #{companion_no}
	</delete>
	
	<insert id="insertCompanionReply" parameterType="CompanionReply" useGeneratedKeys="true" >
	
		insert into companion_reply 
		values (seq_cpreply_no.nextval, 
		#{companion_no}, #{companion_reply_ref}, #{companion_reply_lev},
		seq_cpreply_seq.nextval, #{user_email}, #{companion_reply_content}, SYSDATE)
	</insert>
	
	<insert id="insertCompanionRereply" parameterType="CompanionReply" useGeneratedKeys="true" >
	<![CDATA[
		insert into companion_reply 
		values (seq_cpreply_no.nextval, 
		#{companion_no}, #{companion_reply_ref}, #{companion_reply_lev},
		seq_cpreply_seq.nextval,  #{user_email}, #{companion_reply_content}, SYSDATE)
		]]>
	</insert>
	
	<update id="updateCompanionReply" parameterType="CompanionReply">
		update companion_reply
		set companion_reply_content = #{companion_reply_content},
			companion_no = #{companion_no}
		where companion_reply_no = #{companion_reply_no}
	</update>
	
	<delete id="deleteCompanionReply" parameterType="_int">
		delete from companion_reply
		where companion_reply_no = #{companion_reply_no}
	</delete>

</mapper>