<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="resultMember" type="Member">
		<result property="user_no" column="USER_NO" />
		<result property="user_email" column="USER_EMAIL" />
		<result property="user_password" column="USER_PASSWORD" />
		<result property="user_name" column="USER_NAME" />
		<result property="user_phone" column="USER_PHONE" />
		<result property="user_picture" column="USER_PICTURE" />
		<result property="gender" column="GENDER" />
	</resultMap>
	
	<select id="selectLogin" parameterType="Member" 
	 resultType="Member">
		select * from STRAVEL_USER
		where user_email = #{user_email}
	</select>
	
	<insert id="insertMember" parameterType="Member" useGeneratedKeys="true">
		<selectKey keyProperty="user_no" resultType="int" order="BEFORE">
			select count(1)+1 from STRAVEL_USER
		</selectKey>
		insert into STRAVEL_USER(USER_NO,USER_EMAIL,USER_PASSWORD,USER_NAME,USER_PHONE,USER_PICTURE,GENDER)
		values (#{user_no},#{user_email}, #{user_password}, #{user_name}, #{user_phone}, #{user_picture}, #{gender})
	</insert>
	<select id="selectMember" parameterType="_int" resultType="Member">
		select * from STRAVEL_USER where user_no = #{user_no}
	</select>
	<update id="updateMember" parameterType="Member">
		update STRAVEL_USER set USER_PHONE = #{user_phone} 
		<if test="user_password != null and user_password != ''">
		, USER_PASSWORD = #{user_password}
		</if>
		<if test="user_picture != null">
		, USER_PICTURE = #{user_picture}
		</if>
		where USER_NO = #{user_no}
	</update>
	</mapper>