<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myTripBoardMapper">
	
	
	<resultMap id="resultTripBoard" type="MyTripBoard">
		<result property = "board_no" column = "board_no"/>
		<result property = "board_title" column = "board_title"/>
		<result property = "board_writer" column = "board_writer"/>
		<result property = "board_content" column = "board_content"/>
		<result property = "board_original_filename" column = "board_original_filename"/>
		<result property = "board_rename_filename" column = "board_rename_filename"/>
		<result property = "board_read_count" column = "board_read_count"/>
		<result property = "board_write_date" column = "board_write_date"/>
		<result property = "board_good_count" column = "board_good_count"/>
		<result property = "board_deletestatus" column = "board_deletestatus"/>
	</resultMap>
	<resultMap id="resultTripBoardImage" type="MyTripBoardImage">
		<result property = "board_no" column = "board_no"/>
		<result property = "board_sq" column = "board_sq"/>
		<result property = "board_imagename" column = "board_imagename"/>
	</resultMap>
	
	<resultMap id="resultTripBoardReview" type="MyTripBoardReview">
		<result property = "board_no" column = "board_no"/>
		<result property = "answer_no" column = "answer_no"/>
		<result property = "answer_content" column = "answer_content"/>
		<result property = "answer_writer" column = "answer_writer"/>
		<result property = "answer_date" column = "answer_date"/>
	</resultMap>
	
	<resultMap id = "resultTripBoardLike" type = "MyTripBoardLike">
		<result property = "like_no" column = "like_no"/>
		<result property = "board_no" column = "board_no"/>
		<result property = "user_no" column = "user_no"/>
		<result property = "like_check" column = "like_check"/>
	</resultMap>
	
	
	<select id="selectBoardList" resultMap = "resultTripBoard">
		select * from show_schedule where board_deletestatus = 'N'
	</select>
	
	<select id = "selectBoard" parameterType = "_int" resultType = "MyTripBoard" resultMap = "resultTripBoard">
		select * from show_schedule where board_no = #{board_no}
	</select>
	<insert id="insertBoardImage" parameterType = "MyTripBoardImage">
		insert into show_schedule_image(board_no, board_sq, board_imagename) 
		values(#{board_no}, #{board_sq}, #{board_imagename})
	</insert>
	
	<insert id="insertBoard" parameterType = "MyTripBoard">
		insert into show_schedule(board_no, board_title, board_writer, board_content, board_original_filename, 
		board_rename_filename, board_read_count, board_write_date, board_good_count) values (
		#{board_no}, #{board_title}, #{board_writer}, #{board_content}, #{board_original_filename}, #{board_rename_filename}, default, default, default)
	</insert>
	
	<select id="reviewListAll" resultMap = "resultTripBoardReview">
		select * from show_schedule_answer where board_no = #{board_no}
	</select>
	<insert id="insertReview" parameterType = "MyTripBoardReview">
		insert into show_schedule_answer (board_no, answer_no, answer_content, answer_writer, answer_date) values
		(#{board_no}, seq_answer_no.nextval, #{answer_content}, #{answer_writer}, default)
	</insert>
	<select id="selectBoardNo" resultType = "_int">
		select count(board_no)+1 from show_schedule
	</select>
	<update id="updateReadCount" parameterType = "MyTripBoard">
		update show_schedule set board_read_count = (board_read_count)+1 where board_no = #{board_no}
	</update>
	
	<delete id="deleteReview" parameterType="_int">
		delete from show_schedule_answer where answer_no = #{answer_no}
	</delete>
	<update id="deleteSchedule" parameterType = "MyTripBoard">
		update show_schedule set board_deletestatus = 'Y' where board_no = #{board_no}
	</update>
	<select id="selectImageAll" resultMap="resultTripBoardImage">
		select * from show_schedule_image where board_no = #{board_no}
	</select>
	<update id = "like_check" parameterType="HashMap">
		update show_schedule_like set like_check = like_check+1 where member_no = #{member_no} and board_no = #{board_no}
	</update>
	
	<update id="like_check_cancel" parameterType="HashMap">
		update show_schedule_like set like_check = 0 where member_no = #{member_no} and board_no = #{board_no}
	</update>
	
	<select id="selectList" resultMap="resultTripBoard">
		select * from show_schedule where board_title like '%'||#{board_title}||'%'
	</select>
</mapper>