<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">

<resultMap id= "resultReservation" type = "rsvVo">
	<id property = "rsv_no" column = "RSV_NO"/>
	<result property = "check_in" column = "CHECK_IN"/>
	<result property = "check_out" column = "CHECK_OUT"/>
	<result property = "rsv_status" column = "RSV_STATUS"/>
	<result property = "enter_room" column = "ENTER_ROOM"/>
	<result property = "rsv_date" column = "RSV_DATE"/>
	<result property = "member" column = "MEMBER"/>
	<result property = "total_price" column = "TOTAL_PRICE"/>
</resultMap>


</mapper>