<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurantMapper">

<resultMap id= "resultRestaurant" type = "Restaurant">
	<id property = "restaurant_no" column = "restaurant_no"/>
	<result property = "restaurant_category_code" column = "restaurant_category_code"/>
	<result property = "restaurant_name" column = "restaurant_name"/>
	<result property = "restaurant_content" column = "restaurant_content"/>
	<result property = "restaurant_writer" column = "restaurant_writer"/>
	<result property = "restaurant_date" column = "restaurant_date"/>
	<result property = "rename_thumnail" column = "rename_thumnail"/>
	<result property = "restaurant_openinghours" column = "restaurant_openinghours"/>
	<result property = "restaurant_closehours" column = "restaurant_closehours"/>
	<result property = "restaurant_homepage" column = "restaurant_homepage"/>
	<result property = "restaurant_address" column = "restaurant_address"/>
	<result property = "restaurant_tel" column = "restaurant_tel"/>
	<result property = "restaurant_lastmodified" column = "restaurant_lastmodified"/>
	<result property = "restaurant_gridx" column = "restaurant_gridx"/>
	<result property = "restaurant_gridy" column = "restaurant_gridy"/>
	<result property = "restaurant_deletestatus" column = "restaurant_deletestatus"/>
</resultMap>

	<resultMap id = "resultRestaurantCategory" type = "RestaurantCategory">
		<result property = "restaurant_category_code" column = "restaurant_category_code"/>
		<result property = "restaurant_category_name" column = "restaurant_category_name"/>
	</resultMap>
	
	<resultMap id = "resultRestaurantImage" type = "RestaurantImage">
		<result property = "restaurant_no" column = "restaurant_no"/>
		<result property = "restaurant_sq" column = "restaurant_sq"/>
		<result property = "restaurant_imagename" column = "restaurant_imagename"/>
	</resultMap>
	
	<resultMap type="RestaurantReview" id="resultRestaurantReview">
		<result property = "restaurant_no" column = "restaurant_no"/>
		<result property = "restaurant_review_no" column = "restaurant_review_no"/>
		<result property = "restaurant_review_content" column = "restaurant_review_content"/>
		<result property = "restaurant_review_writer" column = "restaurant_review_writer"/>
		<result property = "restaurant_review_date" column = "restaurant_review_date"/>
		<result property = "restaurant_review_point" column = "restaurant_review_point"/>
		<result property = "restaurant_review_blind" column = "restaurant_review_blind"/>
		<result property = "restaurant_review_lastmodified" column = "restaurant_review_lastmodified"/>
		<result property = "restaurant_review_tourdate" column = "restaurant_review_tourdate"/>
	</resultMap>
	
	<select id="selectRestaurantCategoryList" parameterType = "String" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_category_code = #{category} and restaurant_deletestatus = 'N' order by restaurant_date desc
	</select>
	
	<select id="restaurantCategoryList" resultMap = "resultRestaurantCategory">
		select * from restaurant_category
	</select>

	<insert id="insertRestaurant" parameterType = "Restaurant">
		insert into restaurant(restaurant_no, restaurant_category_code, restaurant_name, restaurant_content, 
		restaurant_writer, restaurant_date, restaurant_openinghours, restaurant_closehours, 
		restaurant_homepage, restaurant_address, restaurant_tel, restaurant_lastmodified,restaurant_gridx, restaurant_gridy,
		restaurant_deletestatus) 
		values(#{restaurant_no}, #{restaurant_category_code}, #{restaurant_name}, #{restaurant_content}, 
		 #{restaurant_writer}, default, #{restaurant_openinghours}, #{restaurant_closehours}, #{restaurant_homepage}, 
		 #{restaurant_address}, #{restaurant_tel}, default, 
		 #{restaurant_gridx}, #{restaurant_gridy}, 
		 default)
	</insert>
	<select id="selectRestaurantNo" resultType = "_int">
		select count(restaurant_no)+1 from restaurant
	</select>
	
	<insert id="insertRestaurantImage" parameterType = "RestaurantImage">
		insert into restaurant_images(restaurant_no, restaurant_sq, restaurant_imagename) values (#{restaurant_no}, #{restaurant_sq}, #{restaurant_imagename})
	</insert>
	
	<update id="updateRestaurantThumnail" parameterType = "restaurant">
		update restaurant set rename_thumnail = #{rename_thumnail} where restaurant_no = #{restaurant_no}
	</update>
	
	<select id = "seafoodList" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_category_code like 'B003'  and 6 > rownum and restaurant_deletestatus = 'N' order by restaurant_date desc
	</select>
	<select id = "barbecueList" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_category_code like 'B002'  and 6 > rownum and restaurant_deletestatus = 'N' order by restaurant_date desc
	</select>
	<select id = "koreanfoodList" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_category_code like 'B001' and 6 > rownum and restaurant_deletestatus = 'N' order by restaurant_date desc
	</select>
	<select id = "cafeList" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_category_code like 'B004'  and 6 > rownum and restaurant_deletestatus = 'N' order by restaurant_date desc
	</select>
	
	<select id = "restaurantDetail" parameterType = "_int" resultMap = "resultRestaurant">
		select * from restaurant where restaurant_no = #{restaurant_no}
	</select>
	<select id="selectRestaurantImage" parameterType = "_int" resultMap = "resultRestaurantImage">
		select * from restaurant_images where restaurant_no = #{restaurant_no}
	</select>
	<select id="selectRestaurantReview" parameterType = "_int" resultMap = "resultRestaurantReview">
		select * from restaurant_review where restaurant_no = #{restaurant_no} and restaurant_review_deletestatus = 'N'
	</select>
	<select id="selectRestaurantNO" resultType = "_int">
		select count(1)+1 from restaurant_review
	</select>
	<insert id="insertRestaurantReview" parameterType = "RestaurantReview">
		insert into restaurant_review (restaurant_no, restaurant_review_no, 
		restaurant_review_content, restaurant_review_writer, 
		restaurant_review_date, restaurant_review_point, 
		restaurant_review_blind, restaurant_review_lastmodified, 
		restaurant_review_tourdate) values (#{restaurant_no}, #{restaurant_review_no}, 
		#{restaurant_review_content}, #{restaurant_review_writer}, 
		default, #{restaurant_review_point}, 
		default, default, #{restaurant_review_tourdate} )
	</insert>
	<update id="updateReviewBlindStatus" parameterType = "_int">
		update restaurant_review set restaurant_review_blind = 'Y' where restaurant_review_no=#{restaurant_review_no}
	</update>
	<update id="updateReviewDeleteStatus" parameterType="_int">
		update restaurant_review set restaurant_review_deletestatus = 'Y' where restaurant_review_no = #{restaurant_review_no}
	</update>
	<select id="selectReviewPoint" resultType="_double" parameterType = "_int">
		select avg(restaurant_review_point) from restaurant_review where restaurant_no = #{restaurant_no} and restaurant_review_deletestatus = 'N'
	</select>
	<update id="updateRestaurantStatus" parameterType = "_int">
		update restaurant set restaurant_deletestatus = 'Y' where restaurant_no = #{restaurant_no}
	</update>
</mapper>