<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomMapper">

<resultMap id= "resultRoom" type = "roomVo">
	<id property = "room_no" column = "ROOM_NO"/>
	<result property = "owner_no" column = "OWNER_NO"/>
	<result property = "room_name" column = "ROOM_NAME"/>
	<result property = "room_option" column = "ROOM_OPTION"/>
	<result property = "room_content" column = "ROOM_CONTENT"/>
	<result property = "min_no" column = "min_No"/>
	<result property = "max_no" column = "max_No"/>
	<result property = "off_season_price" column = "OFF_SEASON_PRICE"/>
	<result property = "on_season_price" column = "ON_SEASON_PRICE"/>
	<result property = "week_extra_price" column = "WEEK_EXTRA_PRICE"/>
	<result property = "add_person_price" column = "ADD_PERSON_PRICE"/>
	<result property = "discountrate" column = "DISCOUNTRATE"/>
</resultMap>

<resultMap id="resultRoomImg" type="roomImgVo">
	<id property = "room_img_no" column="room_img_no"/>
	<result property = "room_img" column= "room_img"/>
	<result property = "room_no" column="room_no"/>
	<result property = "owner_no" column ="owner_no"/>
</resultMap>

<resultMap id="resultReservation" type="rsvVo">
	<id property ="rsv_vo" column="rsv_vo"/>
	<result property = "user_no" column="user_no" />
	<result property = "user_name" column = "user_name"/>
	<result property = "room_no" column="room_no" />
	<result property = "room_name" column="room_name"/>
	<result property = "check_in" column="check_in" />
	<result property = "check_out" column="check_out" />
	<result property = "rsv_status" column="rsv_status" />
	<result property = "enter_room" column="enter_room" />
	<result property = "rsv_date" column="rsv_date" />
	<result property = "member" column="member" />
	<result property = "total_price" column="total_price" />
	<result property = "owner_no" column="owner_no"/> 
</resultMap>

<resultMap id="resultTourist" type="touristVo">
	<result property = "touristSpotCategortName;"  column = "touristspotcategoryname" />
	<result property = "touristSpot_name"  column = "touristspot_name" />
	<result property = "touristSpot_homepage"  column = "touristspot_homepage" />
	<result property = "touristSpot_open"  column = "touristspot_open" />
	<result property = "touristSpot_closed"  column = "touristspot_closed" />
	<result property = "touristSpot_imageName"  column = "touristspot_imagename" />
	<result property = "touristSpot_address" column ="touristspot_address"/>
</resultMap>



<!-- 객실등록 쿼리문 나중에 owner_no 수정해야됨 -->
<insert id="insertRoom" parameterType = "roomVo">
	<selectKey keyProperty="room_no" resultType="int" order="BEFORE">
		select count(ROOM_NO)+1 from STRAVEL.ROOM
	</selectKey>
	INSERT INTO STRAVEl.ROOM
 (ROOM_NO, ROOM_NAME, ROOM_OPTION, ROOM_CONTENT, MIN_NO, MAX_NO, OFF_SEASON_PRICE,
  ON_SEASON_PRICE, WEEK_EXTRA_PRICE, ADD_PERSON_PRICE, DISCOUNTRATE, OWNER_NO)
 VALUES (#{room_no}, #{room_name}, #{room_option}, #{room_content}, #{min_no}, #{max_no}, #{off_season_price}, #{on_season_price}, #{week_extra_price}, #{add_person_price}, #{discountrate}, #{owner_no})
</insert>  

<!-- 객실이미지 -->
<insert id="insertRoomImg" parameterType = "roomImgVo">
	insert into room_img (ROOM_IMG_NO,ROOM_IMG,ROOM_NO)
	values(SEQ_ROOM_IMG_NO.NEXTVAL,#{room_img},#{room_no})
</insert>

<insert id="insertRsv" parameterType ="rsvVo">
 insert into reservation
values (seq_rsv_no.nextval, #{user_no}, #{room_no}, #{check_in}, #{check_out}, '결제대기', '입실대기', sysdate, #{member}, #{total_price})
</insert>


<select id="selectRoom" resultMap="resultRoom">
	select * from room where owner_no = #{owner_no}
</select>

<select id="selectRoomImg" resultMap="resultRoomImg">
	select * 
from room
join room_img using (room_no)
where room_no in(
    select room_no
    from room
    where owner_no = #{owner_no})
</select>

<select id="selectRsvInfo" resultMap="resultRoom">
	select * from room where room_no = #{room_no}
</select>


<select id="selectRsvDate" resultMap="resultReservation">
	select * 
from reservation
where room_no = #{room_no} and check_in > sysdate
</select>

<select id="selectOrderList" resultMap ="resultReservation">
select * 
from reservation
join room using(room_no)
join stravel_user using (user_no)
where room_no in (
    select room_no
    from room
    where owner_no = #{owner_no})
     and check_in = to_char(sysdate,'yy/MM/dd')
    order by room_no

</select>
<select id="selectPassOrderList" resultMap="resultReservation">
<![CDATA[
	select * 
from reservation
join room using(room_no)
join stravel_user using (user_no)
where room_no in (
    select room_no
    from room
    where owner_no = #{owner_no})
    and check_in < to_char(sysdate,'yy/MM/dd')
    and rsv_status = '결제완료'
    and enter_room = '입실완료'
    order by room_no ]]>
</select>
<select id="selectUpRoom" resultMap="resultRoom">
	select * from room where room_no = #{room_no}
</select>

<select id="selectUpRoomImg" resultMap="resultRoomImg">
	select * from room_img where room_no = #{room_no}
</select>

<select id="selectRoomSales" resultMap="resultReservation">
select *
from reservation
where to_char(check_in,'yy/mm') = to_char(add_months(sysdate,-1),'yy/mm')
and room_no in (select room_no
                from room
                where owner_no = #{owner_no})
order by check_in
</select>

<select id="selectTourList" resultMap="resultTourist" parameterType="String">
select touristspotcategoryname, touristspot_name, touristspot_open, touristspot_closed, touristspot_imagename, touristspot_homepage, touristspot_address, rename_thumnail
from tb_touristspot
join tb_touristspotimages using (touristspot_no)
join tb_touristspotcategory using (touristspotcategorycode)
where touristspot_address like '%'||#{touristspot_address}||'%'
</select>

<update id="updateStatus" parameterType="rsvVo">
	update reservation set enter_room = '입실완료' where rsv_no = #{rsv_no} 
</update>


</mapper>