<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supportMapper">

	<resultMap id="resultQna" type="QnaVo">
		<id property="qna_no" column="QNA_NO" />
		<id property="qna_title" column="QNA_TITLE" />
		<id property="qna_content" column="QNA_CONTENT" />
		<id property="qna_writer" column="QNA_WRITER" />
		<id property="rename_qfilename" column="RENAME_QFILENAME" />
		<id property="qna_date" column="QNA_DATE" />
		<id property="qna_status" column="QNA_STATUS" />
		<id property="qna_answer" column="QNA_ANSWER" />
		<id property="qna_answerdate" column="QNA_ANSWERDATE" />
		<id property="rename_afilename" column="RENAME_AFILENAME" />
		<id property="qna_answerwriter" column="QNA_ANSWERWRITER" />
		<id property="qna_deletestatus" column="QNA_DELETESTATUS" />
	</resultMap>

	<resultMap id="resultNoticeVo" type="NoticeVo">
		<id property="notice_no" column="NOTICE_NO" />
		<id property="notice_title" column="NOTICE_TITLE" />
		<id property="notice_content" column="NOTICE_CONTENT" />
		<id property="notice_writer" column="NOTICE_WRITER" />
		<id property="originalname_nfilename" column="ORIGINALNAME_NFILENAME" />
		<id property="rename_nfilename" column="RENAME_NFILENAME" />
		<id property="notice_date" column="NOTICE_DATE" />
		<id property="notice_deletestatus" column="NOTICE_DELETESTATUS" />
	</resultMap>
	<resultMap id="resultFaqCategoryVo" type="FaqCategoryVo">
		<id property="faq_categorycode" column="FAQ_CATEGORYCODE" />
		<id property="faq_categoryname" column="FAQ_CATEGORYNAME" />
	</resultMap>
		<resultMap id="resultFaqVo" type="FaqVo">
		<id property="faq_no" column="FAQ_NO" />
		<id property="faq_categorycode" column="FAQ_CATEGORYCODE" />
		<id property="faq_title" column="FAQ_TITLE" />
		<id property="faq_content" column="FAQ_CONTENT" />
		<id property="faq_writer" column="FAQ_WRITER" />
		<id property="rename_ffilename" column="RENAME_FFILENAME" />
		<id property="faq_date" column="FAQ_DATE" />
		<id property="faq_deletestatus" column="FAQ_DELETESTATUS" />
	</resultMap>
	
	<!-- 공지사항 작업 -->
	<select id="selectNoticeList" resultMap="resultNoticeVo">
	select * from tb_notice where NOTICE_DELETESTATUS = 'N' order by notice_no desc
	</select>
	<insert id="insertNotice" parameterType="NoticeVo">
		<selectKey keyProperty="notice_no" resultType="int" order="BEFORE">
			select count(1)+1 from tb_notice
		</selectKey>
		insert into tb_notice (NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_WRITER, ORIGINALNAME_NFILENAME, RENAME_NFILENAME, NOTICE_DATE, NOTICE_DELETESTATUS)
		values
		(#{notice_no},#{notice_title},#{notice_content},#{notice_writer},#{originalname_nfilename},#{rename_nfilename},default,default)
	</insert>
	
	<!-- 2. ROWNUM Query -->
    <select id="selectPaging" parameterType="pagingVo" resultType="NoticeVo">
       SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM 
       (SELECT * FROM TB_NOTICE 
		<if test="searchCategory != null and searchCategory !=''">
   		where ${searchCategory} like '%'||#{items}||'%' AND NOTICE_DELETESTATUS = 'N'
		</if>
		<if test="searchCategory == null and searchCategory ==''">
		WHERE NOTICE_DELETESTATUS = 'N'
		</if>
       	ORDER BY NOTICE_NO DESC ) P )
       WHERE RNUM BETWEEN ${start} AND ${last}
    </select>
    <!-- 2. Total Query -->
    <select id="selectTotalPaging" resultType="_int">
        SELECT COUNT(1) FROM TB_NOTICE WHERE NOTICE_DELETESTATUS = 'N' 
    </select>
	<select id="selectTotalPagingSearch" parameterType="pagingVo" resultType="_int">
        SELECT COUNT(1) FROM TB_NOTICE where ${searchCategory} like '%'||#{items}||'%' AND NOTICE_DELETESTATUS = 'N'
    </select>
	<select id="selectNoticeOne" parameterType="_int" resultType="noticeVo">
		SELECT * FROM TB_NOTICE WHERE NOTICE_NO = #{NOTICE_NO}
	</select>
	<update id="deleteNoticeOne" parameterType="_int">
		UPDATE TB_NOTICE SET NOTICE_DELETESTATUS = 'Y' WHERE NOTICE_NO = #{NOTICE_NO}
	</update>
	<update id="updateNotice" parameterType="noticeVo">
		UPDATE TB_NOTICE SET NOTICE_TITLE = #{notice_title}, NOTICE_CONTENT = #{notice_content}
		,ORIGINALNAME_NFILENAME = #{originalname_nfilename},RENAME_NFILENAME = #{rename_nfilename}
		WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<!-- qna 작업 -->
	<insert id="insertUserQna">
	<selectKey keyProperty="qna_no" resultType="int" order="BEFORE">
			select count(1)+1 from tb_qna
		</selectKey>
		INSERT INTO TB_QNA (QNA_NO,QNA_TITLE,QNA_CONTENT,QNA_WRITER,RENAME_QFILENAME,QNA_DATE,QNA_STATUS,QNA_DELETESTATUS)
		VALUES(#{qna_no},#{qna_title},#{qna_content},#{qna_writer},#{rename_qfilename},default,default,default)
	</insert>
	<select id="selectPagingQna" parameterType="pagingVo" resultType="QnaVo">
       SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM 
       (SELECT * FROM TB_QNA 
		<if test="searchCategory != null and searchCategory !=''">
   		where ${searchCategory} like '%'||#{items}||'%' AND QNA_DELETESTATUS = 'N'
		</if>
		<if test="searchCategory == null and searchCategory ==''">
		WHERE QNA_DELETESTATUS = 'N'
		</if>
       	ORDER BY QNA_NO DESC ) P )
       WHERE RNUM BETWEEN ${start} AND ${last}
    </select>
    <select id="selectTotalPagingQna" resultType="_int">
        SELECT COUNT(1) FROM TB_QNA WHERE QNA_DELETESTATUS = 'N' 
    </select>
	<select id="selectTotalPagingSearchQna" parameterType="pagingVo" resultType="_int">
        SELECT COUNT(1) FROM TB_QNA where ${searchCategory} like '%'||#{items}||'%' AND QNA_DELETESTATUS = 'N'
    </select>
	<select id="selectAdminQnaOne" parameterType="_int" resultType="qnaVo">
		SELECT * FROM TB_QNA WHERE QNA_NO = #{qna_no}
	</select>
	<update id="updateQnaAnswer" parameterType="qnaVo">
		UPDATE TB_QNA SET QNA_STATUS = 'Y', QNA_ANSWER = #{qna_answer}, QNA_ANSWERDATE = SYSDATE, QNA_ANSWERWRITER= #{qna_answerwriter}
		WHERE QNA_NO = ${qna_no}
	</update>
	<select id="selectPagingQnaUsers" parameterType="pagingVo" resultType="QnaVo">
		SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM 
       (SELECT * FROM TB_QNA 
		WHERE QNA_DELETESTATUS = 'N'
		AND QNA_WRITER = #{userId}
       	ORDER BY QNA_NO DESC ) P )
       WHERE RNUM BETWEEN ${start} AND ${last}
	</select>
	<select id="selectTotalPagingQnaUser" parameterType="pagingVo" resultType="_int">
		SELECT COUNT(1) FROM TB_QNA WHERE QNA_DELETESTATUS = 'N' AND QNA_WRITER = #{userId}
	</select>
	<select id="selectUserQnaOne" parameterType="_int" resultType="qnaVo">
		SELECT * FROM TB_QNA WHERE QNA_NO = #{qna_no}
	</select>
	
	<!-- faq작업 -->
	<select id="selectFaqCategory" resultType="FaqCategoryVo">
		SELECT * FROM TB_FAQCATEGORY
	</select>
	<insert id="insertFaq" parameterType="FaqVo">
		<selectKey keyProperty="faq_no" resultType="int" order="BEFORE">
			select count(1)+1 from TB_FAQ
		</selectKey>
		INSERT INTO TB_FAQ VALUES(#{faq_no},#{faq_categorycode},#{faq_title},#{faq_content},#{faq_writer},#{rename_ffilename},default,default)
	</insert>
	<select id="selectFaqTotalPaging" resultType="_int">
		SELECT COUNT(1) FROM TB_FAQ WHERE FAQ_DELETESTATUS = 'N'
	</select>
	<select id="selectFaqList" parameterType="pagingVo" resultType="FaqVo">
		SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM 
       (SELECT * FROM TB_FAQ 
		WHERE FAQ_DELETESTATUS = 'N'
       	ORDER BY FAQ_NO DESC ) P )
       WHERE RNUM BETWEEN ${start} AND ${last}
	</select>
	<select id="selectFaqOne" parameterType="_int" resultType="FaqVo">
		SELECT * FROM TB_FAQ WHERE FAQ_NO = #{faq_no}
	</select>
	<update id="deleteFaq" parameterType="_int">
		UPDATE TB_FAQ SET FAQ_DELETESTATUS = 'Y' WHERE FAQ_NO = #{faq_no}
	</update>
	<select id="selectFaqPayList" resultType="FaqVo">
		SELECT * FROM TB_FAQ WHERE FAQ_CATEGORYCODE = 'C001' AND 3 > ROWNUM ORDER BY FAQ_DATE DESC
	</select>
	<select id="selectFaqUserList" resultType="FaqVo">
		SELECT * FROM TB_FAQ WHERE FAQ_CATEGORYCODE = 'C002' AND 3 > ROWNUM ORDER BY FAQ_DATE DESC
	</select>
	<select id="selectFaqItemList" resultType="FaqVo">
		SELECT * FROM TB_FAQ WHERE FAQ_CATEGORYCODE = 'C003' AND 3 > ROWNUM ORDER BY FAQ_DATE DESC
	</select>
	<select id="selectFaqListCategory" resultType="FaqVo" parameterType="string">
		select * from TB_FAQ where FAQ_CATEGORYCODE = #{category} and FAQ_DELETESTATUS = 'N' order by faq_date desc 
	</select>
</mapper>
