<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

	<typeAliases>
		<!-- <typeAlias type="org.kh.first.member.model.vo.Member" alias="Member" /> -->
		<!-- 김지훈 -->
		<typeAlias type="com.travelmaker.stravel.support.model.vo.QnaVo" alias="QnaVo" />
		<typeAlias type="com.travelmaker.stravel.touristsopt.model.vo.TouristspotImagesVo" alias="TouristspotImagesVo" />
		<typeAlias type="com.travelmaker.stravel.touristsopt.model.vo.TouristspotVo" alias="TouristspotVo" />
		<typeAlias type="com.travelmaker.stravel.touristsopt.model.vo.TouristspotCategoryVo" alias="TouristspotCategoryVo" />
		<!-- 고상훈 -->
		<typeAlias type="com.travelmaker.stravel.tripBoard.model.vo.MyTripBoard" alias="MyTripBoard"/>
		<typeAlias type="com.travelmaker.stravel.restaurant.model.vo.Restaurant" alias="Restaurant"/>
		<typeAlias type="com.travelmaker.stravel.restaurant.model.vo.RestaurantCategory" alias="RestaurantCategory"/>
		<typeAlias type="com.travelmaker.stravel.restaurant.model.vo.RestaurantImage" alias="RestaurantImage"/>
		<!-- 김인규 -->
		<typeAlias type="com.travelmaker.stravel.companion.model.vo.Companion" alias="Companion"/>
		<typeAlias type="com.travelmaker.stravel.companion.model.vo.CompanionReply" alias="CompanionReply"/>
		<typeAlias type="com.travelmaker.stravel.companion.model.vo.CompanionPage" alias="CompanionPage"/>
	</typeAliases>
	<mappers>
	<!-- 쿼리문 저장용 매퍼 xml 파일 등록 : 필수  -->
	<!-- 주의 : 등록된 매퍼 파일 안의 쿼리문 오류가 있으면 톰캣 실행 안됨. config 파일도 오류로 처리됨. -->
		<!-- <mapper resource="mappers/member-mapper.xml" /> -->
		<mapper resource="mappers/support-mapper.xml" />
		<mapper resource="mappers/touristspot-mapper.xml" />
		<mapper resource="mappers/myTripBoard-mapper.xml"/>
		<mapper resource="mappers/restaurant-mapper.xml"/>
		<mapper resource="mappers/companion-mapper.xml"/>
	</mappers>
</configuration>
